.container {
    padding: 0 2rem;
    background-color: #F2D5B9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    min-height: 100vh;
}

.main {
    flex: 2;
    background-color: #4397A7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main img {
    width: 400px !important;
}